const spotify = {
  clientId: "[your-spotify-app-clientid]",
  secret: "[your-spotify-secret]",
  scopes: ["user-read-playback-state"]
};

const login = {
  callback: "http://localhost:3000/auth/callback"
};

const genius = {
  token: "[your-genius-token]"
};

module.exports = {
  spotify,
  login,
  genius
};
